<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Greeting!</title>
    <style>
        body {
            background-color: #c9c9c9;
            margin-left: 20%;
            margin-right: 20%;
            border: 2px dotted black;
            border-radius: 25px;
            padding: 10px 10px 10px 10px;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<h1>Messages</h1>

<form action="/greeting/addmessage" method="post">
    <input type="text" name="user">
    <input type="text" name="message">
    <input type="submit">
</form>

<div th:each="msg : ${messages}">
    <span th:text="${msg.user}"></span> - <span th:text="${msg.message}"></span> - <span th:text="${msg.msgDate}"></span><br/>
</div>

</body>
</html>